<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action.label"
            visible="true"
            id="com.change_vision.astah.extension.plugin.dbreverse.actionSet">
         <action
			   label="%action.label"
               icon="icons/sample.gif"
               class="com.change_vision.astah.extension.plugin.dbreverse.actions.ReverseAction"
               tooltip="DB reverse"
               menubarPath="tool/er"
               id="com.change_vision.astah.extension.plugin.dbreverse.actions.ReverseAction">
         </action>
     </actionSet>
   </extension>
</plugin>